.header {
    background-color: #092635;
    width: 100%;
    margin: 0;
    padding: 50px;
    color: white;
  
    h2 {
      margin: 0;
      padding: 0;
      font-size: 4rem;
      text-align: center;
    }
  }