.Message {
    display: block;
    background-color: #5C8374;
    margin: 10px auto ;
    box-shadow: 0 5px 15px -5px black ;
    padding: 10px 20px;
    border-radius: 5px;
    clear:both;

    &.me {
        color: black;
        float: right;
        background-color: #ffeda3;
    }
}